* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed";
  scroll-behavior: smooth;
  padding: 20px 40px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}
